$url: "https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images";
body {
  height: 100vh;
  background-image: url("#{$url}/bg.jpg");
  background-size: cover; 
  /* 더 넓은 너비에 맞는 배경이미지 출력 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* 배경이미지 고정 */
}
.container{
  padding: 50px 0px;
  .heroes{
    display: flex;
    flex-wrap: wrap;
    /* 수평 정렬을 지정 */
    justify-content: center;
    /* 가로로 넓어지는 것 제한 */
    max-width: 700px;
    margin: 0 auto;
    /* 블록 요소의 가로사이즈가 있는 상태에서 마진값이 오토라면
     가운데 정렬이 된다.*/
    padding: 40px 20px;

    .hero {
      width: 80px;
      height: 84px;
      margin: 4px;
      border: 3px solid #fff;
      border-radius: 10px;
      /* 보더나 패딩이 들어갔을 때 요소가 커지는걸 막기 위해 */
      box-sizing: border-box;
      background-color: #555;
      overflow: hidden;
      /* 넘치는 이미지 영역 모두 잘라냄 */
      /* 요소의 변환효과 추가 */
      transform: skewX(-14deg);
      transition: 
        transform .1s,
        background-color .6s;
      /* 전환효과가 transform에만 적용됨 -> 요소가 아래 scale(1.3);
      커지는 효과에만 적용됨 */
      /* 요소가 커지는 것은 빠르게 바뀌고 배경색은 천천히 바뀐다는 
      것을 알 수 있다. */

      &:hover {
        /* hover-> 마우스이 커서가 올라갈 때 */
        background-color: #ff9c00;
        transform: skewX(-14deg) scale(1.3); 
        z-index: 1;
        /* z-index: 1; 주변요소 중 가장 위로 올림 */
        
      }

      .image {
        width: 140%;
        height: 100%;
        /* 위의 테두리에 맞도록 % */
        background-position: center;
        /* 배경이미지 중앙 정렬 */
        background-size: 90px; 
        /* 가로사이즈 조정 */
        /* 배경 반복 막기 */
        background-repeat: no-repeat;
        transform: skewX(14deg) translateX(-16px);
        /* 부모가 기울었으니 배경이미지는 원래대로 돌리기*/
      
      }
      /*반복문 이미지*/ 
      @for $i from 1 through 32 {
        &:nth-child(#{$i}) .image{
          background-image: url("#{$url}/hero#{$i}.png");
        }
      }
    }
  }

  .logo {
    max-width: 300px;
    margin: 0 auto;
    padding:0 20px;
    img {
      width: 100%;
      /* 로고 이미지는 로고클래스의 가로 300px에 대한 100%이므로
      가로가 300이하이다. */
    }
  }
  
}




